@import 'tailwindcss';

/* Prevent global checkbox/toggle interference */
@plugin '@tailwindcss/forms' {
	strategy: 'class';
}

@plugin '@tailwindcss/typography';

/* Load daisyUI + themes (Tailwind v4 style) */
@plugin 'daisyui' {
	/*
  themes: light --default;
  */
	themes:
		light --default,
		business --prefersdark;
}

@source inline('status-info status-success status-warning status-error');

@layer utilities {
	:where(.input, .select, .textarea):focus,
	:where(.input, .select, .textarea):focus-visible {
		outline: none !important;
		outline-offset: 0 !important;

		/* Tailwind ring implementation (kill it globally) */
		--tw-ring-offset-shadow: 0 0 #0000 !important;
		--tw-ring-shadow: 0 0 #0000 !important;

		box-shadow: none !important;
	}
}
