# Use the latest or a specific version of Onus
ONUS_VERSION=latest

# Port that the Docker container will listen on, may be different from the SERVER_URL port
SERVER_PORT=8888

# Publicly accessible URL of your Onus instance, should match your reverse proxy configuration
SERVER_URL=https://todo.example.com

# Database configuration
DB_NAME=onus
DB_USER=onus
DB_PASS=SomeRandomPassword