server:
  host: ""
  port: 8080
  url: "https://onus.example.com"

database:
  type: "postgres"
  host: "localhost"
  port: 5432
  name: "onus"
  user: "onus"
  pass: "<Database Password>"
  ssl: false

auth:
  oidc:
    enabled: true
    providers:
      entra:
        issuer_url: "https://login.microsoftonline.com/<Tenant ID>/v2.0"
        client_id: "<Client ID>"
        client_secret: "<Client Secret>"