ONUS_AUTH_OIDC_PROVIDER_ENTRA_ISSUER_URL=https://login.microsoftonline.com/<Tenant ID>/v2.0
ONUS_AUTH_OIDC_PROVIDER_ENTRA_CLIENT_ID=YourClientID
ONUS_AUTH_OIDC_PROVIDER_ENTRA_CLIENT_SECRET=YourClientSecret